# IMAGEN - INSTRUMENT

INSTRUMENT LOADER PIPELINE OVERVIEW - TBA

In [1]:
################################################################################
""" IMAGEN - INSTRUMENT LOADER DOCUMENTATION """
# Author : JiHoon Kim, <jihoon.kim@fu-berlin.de>, 7th September 2021
#
from imagen_instrumentloader import *
# DATA_DIR = '/ritter/share/data/IMAGEN'

# Psychological profile

## NEO-PI-R

### newlbls-fu3-espad-fu3-19a-binge-n650 in all session (BL, FU1, FU2, FU3)

In [2]:
NEO = IMAGEN_instrument()

In [3]:
df_binge_BL_NEO = NEO.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",                # h5files
    "BL",                                                     # session
    "IMAGEN-IMGN_NEO_FFI_CHILD_RC5-IMAGEN_SURVEY_DIGEST.csv", # instrument
    "NEO"                                                     # name
)
df_binge_FU1_NEO = NEO.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",                   # h5files
    "FU1",                                                       # session
    "IMAGEN-IMGN_NEO_FFI_CHILD_FU_RC5-IMAGEN_SURVEY_DIGEST.csv", # instrument
    "NEO"                                                        # name
)
df_binge_FU2_NEO = NEO.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",          # h5files
    "FU2",                                              # session
    "IMAGEN-IMGN_NEO_FFI_FU2-IMAGEN_SURVEY_DIGEST.csv", # instrument
    "NEO"                                               # name
)
df_binge_FU3_NEO = NEO.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "FU3",                                     # session
    "IMAGEN-IMGN_NEO_FFI_FU3.csv",             # instrument
    "NEO"                                      # roi name
)

In [4]:
session = [df_binge_BL_NEO, df_binge_FU1_NEO,
           df_binge_FU2_NEO, df_binge_FU3_NEO]

keys = ['BL','FU1','FU2','FU3']

df_binge_NEO = NEO.to_instrument(
    session, keys, save = True
)
col_binge_NEO = df_binge_NEO.columns[:-6]
df_binge_NEO.groupby(['Session','Class'])[col_binge_NEO].mean()

               Neuroticism mean  Extroversion mean  Openness mean  \
Session Class
BL      AAM            1.859446           2.614668       2.225477
        HC             1.948810           2.411607       2.233036
FU1     AAM            1.814730           2.592253       2.343527
        HC             1.911544           2.330260       2.309085
FU2     AAM            1.754455           2.591457       2.483753
        HC             1.707372           2.381090       2.385897
FU3     AAM            1.730752           2.525362       2.584239
        HC             1.738475           2.303191       2.458038

               Agreeableness mean  Conscientiousness mean
Session Class
BL      AAM              2.400318                2.284287
        HC               2.497321                2.430060
FU1     AAM              2.448522                2.285423
        HC               2.535519                2.487363
FU2     AAM              2.590671                2.385482
        HC               2.696154                2.617949
FU3     AAM              2.731884                2.538949
        HC               2.744681                2.736998

In [5]:
df_binge_NEO = NEO.read_instrument(
    'newlbls-fu3-espad-fu3-19a-binge-n650_NEO.csv'
)
col_binge_NEO = df_binge_NEO.columns[:-6]
df_binge_NEO.groupby(['Session','Class'])[col_binge_NEO].mean()

               Neuroticism mean  Extroversion mean  Openness mean  \
Session Class
BL      AAM            1.859446           2.614668       2.225477
        HC             1.948810           2.411607       2.233036
FU1     AAM            1.814730           2.592253       2.343527
        HC             1.911544           2.330260       2.309085
FU2     AAM            1.754455           2.591457       2.483753
        HC             1.707372           2.381090       2.385897
FU3     AAM            1.730752           2.525362       2.584239
        HC             1.738475           2.303191       2.458038

               Agreeableness mean  Conscientiousness mean
Session Class
BL      AAM              2.400318                2.284287
        HC               2.497321                2.430060
FU1     AAM              2.448522                2.285423
        HC               2.535519                2.487363
FU2     AAM              2.590671                2.385482
        HC               2.696154                2.617949
FU3     AAM              2.731884                2.538949
        HC               2.744681                2.736998

## SURPS

### newlbls-fu3-espad-fu3-19a-binge-n650 in all session (BL, FU1, FU2, FU3)

In [6]:
SURPS = IMAGEN_instrument()

In [7]:
df_binge_BL_SURPS = SURPS.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",        # h5files
    "BL",                                             # session
    "IMAGEN-IMGN_SURPS_RC5-IMAGEN_SURVEY_DIGEST.csv", # instrument
    "SURPS"                                           # roi name
)
df_binge_FU1_SURPS = SURPS.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",           # h5files
    "FU1",                                               # session
    "IMAGEN-IMGN_SURPS_FU_RC5-IMAGEN_SURVEY_DIGEST.csv", # instrument
    "SURPS"                                              # roi name
)
df_binge_FU2_SURPS = SURPS.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",        # h5files
    "FU2",                                            # session
    "IMAGEN-IMGN_SURPS_FU2-IMAGEN_SURVEY_DIGEST.csv", # instrument
    "SURPS"                                           # roi name
)
df_binge_FU3_SURPS = SURPS.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "FU3",                                     # session
    "IMAGEN-IMGN_SURPS_FU3.csv",               # instrument
    "SURPS"                                    # roi name
)

In [8]:
session = [df_binge_BL_SURPS, df_binge_FU1_SURPS,
           df_binge_FU2_SURPS, df_binge_FU3_SURPS]

keys = ['BL','FU1','FU2','FU3']

df_binge_SURPS = SURPS.to_instrument(
    session, keys, save = True
)
col_binge_SURPS = df_binge_SURPS.columns[:-6]
df_binge_SURPS.groupby(['Session','Class'])[col_binge_SURPS].mean()

               Hopelessness mean  Anxiety sensitivity mean  Impulsivity mean  \
Session Class
BL      AAM             1.834504                  2.167213          2.441530
        HC              1.888889                  2.275269          2.364158
FU1     AAM             1.828485                  2.215805          2.321581
        HC              1.843621                  2.213992          2.216461
FU2     AAM             1.883648                  2.336478          2.257862
        HC              1.858255                  2.308949          2.173541
FU3     AAM             2.934216                  2.301907          2.182561
        HC              2.915400                  2.300000          2.073759

               Sensation seeking mean
Session Class
BL      AAM                  2.837432
        HC                   2.585424
FU1     AAM                  2.865248
        HC                   2.602195
FU2     AAM                  2.921384
        HC                   2.629053
FU3     AAM                  2.914623
        HC                   2.596336

In [9]:
df_binge_SURPS = SURPS.read_instrument(
    'newlbls-fu3-espad-fu3-19a-binge-n650_SURPS.csv'
)
col_binge_SURPS = df_binge_SURPS.columns[:-6]
df_binge_SURPS.groupby(['Session','Class'])[col_binge_SURPS].mean()

               Hopelessness mean  Anxiety sensitivity mean  Impulsivity mean  \
Session Class
BL      AAM             1.834504                  2.167213          2.441530
        HC              1.888889                  2.275269          2.364158
FU1     AAM             1.828485                  2.215805          2.321581
        HC              1.843621                  2.213992          2.216461
FU2     AAM             1.883648                  2.336478          2.257862
        HC              1.858255                  2.308949          2.173541
FU3     AAM             2.934216                  2.301907          2.182561
        HC              2.915400                  2.300000          2.073759

               Sensation seeking mean
Session Class
BL      AAM                  2.837432
        HC                   2.585424
FU1     AAM                  2.865248
        HC                   2.602195
FU2     AAM                  2.921384
        HC                   2.629053
FU3     AAM                  2.914623
        HC                   2.596336

# SOCIO-ECONOMIC PROFILE

## CTQ-SF

### newlbls-fu3-espad-fu3-19a-binge-n650 in all session (BL, FU1, FU2, FU3)

In [10]:
CTQ = IMAGEN_instrument()

In [11]:
df_binge_CTQ_FU2 = CTQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",     # h5files
    "FU2",                                         # session
    "IMAGEN-IMGN_CTQ_CHILD_FU2-IMAGEN_DIGEST.csv", # instrument
    "CTQ"                                          # name
)

In [12]:
session = [df_binge_CTQ_FU2]

keys = ['FU2']

df_binge_CTQ = CTQ.to_instrument(
    session, keys, save = True
)
col_binge_CTQ = df_binge_CTQ.columns[:-6]
df_binge_CTQ.groupby(['Session','Class'])[col_binge_CTQ].mean()

               Emotional abuse sum  Physical abuse sum  Sexsual abuse sum  \
Session Class
FU2     AAM               2.264214            0.484950           0.471572
        HC                1.939655            0.336207           0.189655

               Emotional neglect sum  Physical neglect sum  Denial sum
Session Class
FU2     AAM                16.933110              7.916388    8.040134
        HC                 17.344828              7.857759    8.818966

In [13]:
df_binge_CTQ = CTQ.read_instrument(
    'newlbls-fu3-espad-fu3-19a-binge-n650_CTQ.csv'
)
col_binge_CTQ = df_binge_CTQ.columns[:-6]
df_binge_CTQ.groupby(['Session','Class'])[col_binge_CTQ].mean()

               Emotional abuse sum  Physical abuse sum  Sexsual abuse sum  \
Session Class
FU2     AAM               2.264214            0.484950           0.471572
        HC                1.939655            0.336207           0.189655

               Emotional neglect sum  Physical neglect sum  Denial sum
Session Class
FU2     AAM                16.933110              7.916388    8.040134
        HC                 17.344828              7.857759    8.818966

## LEQ

### newlbls-fu3-espad-fu3-19a-binge-n650 in all session (BL, FU1, FU2, FU3)

In [14]:
LEQ = IMAGEN_instrument()

In [15]:
df_binge_BL_LEQ = LEQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "BL",                                      # session
    "IMAGEN-IMGN_LEQ_RC5-BASIC_DIGEST.csv",    # instrument
    "LEQ"                                      # name
)
df_binge_FU1_LEQ = LEQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",  # h5files
    "FU1",                                      # session
    "IMAGEN-IMGN_LEQ_FU_RC5-IMAGEN_DIGEST.csv", # instrument
    "LEQ"                                       # name
)
df_binge_FU2_LEQ = LEQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "FU2",                                     # session
    "IMAGEN-IMGN_LEQ_FU2-IMAGEN_DIGEST.csv",   # instrument
    "LEQ"                                      # name
)
df_binge_FU3_LEQ = LEQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "FU3",                                     # session
    "IMAGEN-IMGN_LEQ_FU3.csv",                 # instrument
    "LEQ"                                      # name
)

In [16]:
session = [df_binge_BL_LEQ, df_binge_FU1_LEQ,
           df_binge_FU2_LEQ, df_binge_FU3_LEQ]

keys = ['BL','FU1','FU2','FU3']

df_binge_LEQ = LEQ.to_instrument(
    session, keys, save = True
)
col_binge_LEQ = df_binge_LEQ.columns[:-6]
df_binge_LEQ.groupby(['Session','Class'])[col_binge_LEQ].mean()

               Family valence  Accident valence  Sexuality valence  \
Session Class
BL      AAM         -1.137017         -1.226519           0.007893
        HC          -1.130935         -1.191547          -0.025180
FU1     AAM         -1.065806         -1.066129           0.032258
        HC          -1.071130         -1.073222           0.060968
FU2     AAM         -1.074448         -1.145110          -0.019378
        HC          -1.057255         -1.154902           0.056022
FU3     AAM         -0.420163          0.508174          -0.263527
        HC          -0.409220          0.583333          -0.201114

               Autonomy valence  Devience valence  Relocation valence  \
Session Class
BL      AAM            1.047307         -0.959484           -0.364641
        HC             0.953237         -1.031175           -0.386091
FU1     AAM            1.069355         -0.794624           -0.641935
        HC             1.006799         -1.009763           -0.531381
FU2     AAM            1.092271         -0.895899           -0.706625
        HC             1.018627         -1.078431           -0.427451
FU3     AAM           -0.232629         -0.827430           -0.089918
        HC            -0.248227         -0.816785           -0.005910

               Distress valence  Noscale valence  Overall valence  \
Session Class
BL      AAM           -1.151934         0.151934        -0.322709
        HC            -1.033573         0.170264        -0.331120
FU1     AAM           -1.102688         0.126882        -0.291232
        HC            -1.061367         0.119944        -0.302543
FU2     AAM           -1.128286         0.111462        -0.322899
        HC            -1.048366         0.142484        -0.301156
FU3     AAM           -0.217984         0.630336        -0.152379
        HC            -0.216312         0.722222        -0.120658

               Family mean frequency  Accident mean frequency  \
Session Class
BL      AAM                 0.250276                 0.517956
        HC                  0.200000                 0.510791
FU1     AAM                 0.226452                 0.512903
        HC                  0.181590                 0.554393
FU2     AAM                 0.123659                 0.354890
        HC                  0.109804                 0.366667
FU3     AAM                 0.182016                 0.237057
        HC                  0.146809                 0.245567

               Sexuality mean frequency  Autonomy mean frequency  \
Session Class
BL      AAM                    0.284136                 0.551796
        HC                     0.256423                 0.516187
FU1     AAM                    0.339631                 0.631048
        HC                     0.333533                 0.611925
FU2     AAM                    0.362325                 0.611199
        HC                     0.323810                 0.571078
FU3     AAM                    0.250681                 0.201975
        HC                     0.280142                 0.214982

               Devience mean frequency  Relocation mean frequency  \
Session Class
BL      AAM                   0.314917                   0.446593
        HC                    0.188249                   0.412470
FU1     AAM                   0.312903                   0.197849
        HC                    0.152022                   0.266388
FU2     AAM                   0.140904                   0.088328
        HC                    0.049673                   0.107190
FU3     AAM                   0.277929                   0.095368
        HC                    0.296690                   0.102837

               Distress mean frequency  Noscale mean frequency  \
Session Class
BL      AAM                   0.254604                0.323204
        HC                    0.290767                0.336930
FU1     AAM                   0.273656                0.344086
        HC                    0.301255                0.357043
FU2     AAM                   0.223975                0.280757
        HC                    0.205882                0.288889
FU3     AAM                   0.286558                0.236149
        HC                    0.284870                0.182033

               Overall mean frequency
Session Class
BL      AAM                  0.372007
        HC                   0.346799
FU1     AAM                  0.379901
        HC                   0.371527
FU2     AAM                  0.316347
        HC                   0.292911
FU3     AAM                  0.225040
        HC                   0.226950

In [17]:
df_binge_LEQ = LEQ.read_instrument(
    'newlbls-fu3-espad-fu3-19a-binge-n650_LEQ.csv'
)
col_binge_LEQ = df_binge_LEQ.columns[:-6]
df_binge_LEQ.groupby(['Session','Class'])[col_binge_LEQ].mean()

               Family valence  Accident valence  Sexuality valence  \
Session Class
BL      AAM         -1.137017         -1.226519           0.007893
        HC          -1.130935         -1.191547          -0.025180
FU1     AAM         -1.065806         -1.066129           0.032258
        HC          -1.071130         -1.073222           0.060968
FU2     AAM         -1.074448         -1.145110          -0.019378
        HC          -1.057255         -1.154902           0.056022
FU3     AAM         -0.420163          0.508174          -0.263527
        HC          -0.409220          0.583333          -0.201114

               Autonomy valence  Devience valence  Relocation valence  \
Session Class
BL      AAM            1.047307         -0.959484           -0.364641
        HC             0.953237         -1.031175           -0.386091
FU1     AAM            1.069355         -0.794624           -0.641935
        HC             1.006799         -1.009763           -0.531381
FU2     AAM            1.092271         -0.895899           -0.706625
        HC             1.018627         -1.078431           -0.427451
FU3     AAM           -0.232629         -0.827430           -0.089918
        HC            -0.248227         -0.816785           -0.005910

               Distress valence  Noscale valence  Overall valence  \
Session Class
BL      AAM           -1.151934         0.151934        -0.322709
        HC            -1.033573         0.170264        -0.331120
FU1     AAM           -1.102688         0.126882        -0.291232
        HC            -1.061367         0.119944        -0.302543
FU2     AAM           -1.128286         0.111462        -0.322899
        HC            -1.048366         0.142484        -0.301156
FU3     AAM           -0.217984         0.630336        -0.152379
        HC            -0.216312         0.722222        -0.120658

               Family mean frequency  Accident mean frequency  \
Session Class
BL      AAM                 0.250276                 0.517956
        HC                  0.200000                 0.510791
FU1     AAM                 0.226452                 0.512903
        HC                  0.181590                 0.554393
FU2     AAM                 0.123659                 0.354890
        HC                  0.109804                 0.366667
FU3     AAM                 0.182016                 0.237057
        HC                  0.146809                 0.245567

               Sexuality mean frequency  Autonomy mean frequency  \
Session Class
BL      AAM                    0.284136                 0.551796
        HC                     0.256423                 0.516187
FU1     AAM                    0.339631                 0.631048
        HC                     0.333533                 0.611925
FU2     AAM                    0.362325                 0.611199
        HC                     0.323810                 0.571078
FU3     AAM                    0.250681                 0.201975
        HC                     0.280142                 0.214982

               Devience mean frequency  Relocation mean frequency  \
Session Class
BL      AAM                   0.314917                   0.446593
        HC                    0.188249                   0.412470
FU1     AAM                   0.312903                   0.197849
        HC                    0.152022                   0.266388
FU2     AAM                   0.140904                   0.088328
        HC                    0.049673                   0.107190
FU3     AAM                   0.277929                   0.095368
        HC                    0.296690                   0.102837

               Distress mean frequency  Noscale mean frequency  \
Session Class
BL      AAM                   0.254604                0.323204
        HC                    0.290767                0.336930
FU1     AAM                   0.273656                0.344086
        HC                    0.301255                0.357043
FU2     AAM                   0.223975                0.280757
        HC                    0.205882                0.288889
FU3     AAM                   0.286558                0.236149
        HC                    0.284870                0.182033

               Overall mean frequency
Session Class
BL      AAM                  0.372007
        HC                   0.346799
FU1     AAM                  0.379901
        HC                   0.371527
FU2     AAM                  0.316347
        HC                   0.292911
FU3     AAM                  0.225040
        HC                   0.226950

## PBQ

### newlbls-fu3-espad-fu3-19a-binge-n650

In [18]:
PBQ = IMAGEN_instrument()

In [20]:
df_binge_BL_PBQ = PBQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "BL",                                      # session
    "IMAGEN-IMGN_PBQ_RC1-BASIC_DIGEST.csv",    # instrument
    "PBQ"                                      # roi name
)
df_binge_FU1_PBQ = PBQ.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5", # h5files
    "FU1",                                     # session
    "IMAGEN-IMGN_PBQ_FU_RC1-BASIC_DIGEST.csv", # instrument
    "PBQ"                                      # name
)

In [26]:
session = [df_binge_BL_PBQ, df_binge_FU1_PBQ]

keys = ['BL','FU1']

df_binge_PBQ = PBQ.to_instrument(
    session, keys, save = True
)
col_binge_PBQ = df_binge_PBQ.columns[:-6]
df_binge_PBQ.groupby(['Session','Class'])[col_binge_PBQ].mean()

                 pbq_03b
Session Class
BL      AAM    16.733766
        HC     16.593750
FU1     AAM    17.666667
        HC     17.545455

In [27]:
df_binge_PBQ = PBQ.read_instrument(
    'newlbls-fu3-espad-fu3-19a-binge-n650_PBQ.csv'
)
col_binge_PBQ = df_binge_PBQ.columns[:-6]
df_binge_PBQ.groupby(['Session','Class'])[col_binge_PBQ].mean()

                 pbq_03b
Session Class
BL      AAM    16.733766
        HC     16.593750
FU1     AAM    17.666667
        HC     17.545455

## CTS

### newlbls-fu3-espad-fu3-19a-binge-n650

In [29]:
CTS = IMAGEN_instrument()

In [31]:
df_binge_BL_CTS = CTS.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",     # h5files
    "BL",                                          # session
    "IMAGEN-IMGN_CTS_PARENT_RC5-BASIC_DIGEST.csv", # instrument
    "CTS"                                          # name
)

In [32]:
session = [df_binge_BL_CTS]

keys = ['BL']

df_binge_CTS = CTS.to_instrument(
    session, keys, save = True
)
col_binge_CTS = df_binge_CTS.columns[:-6]
df_binge_CTS.groupby(['Session','Class'])[col_binge_CTS].mean()

               Assault mean  Injury mean  Negotiation mean  \
Session Class
BL      AAM        0.036812     0.020601          7.489991
        HC         0.028990     0.025412          6.546703

               Psychological aggression mean  Sexual coercion mean
Session Class
BL      AAM                         0.960545              0.255587
        HC                          0.850046              0.529304

In [33]:
df_binge_CTS = CTS.read_instrument(
    'newlbls-fu3-espad-fu3-19a-binge-n650_CTS.csv'
)
col_binge_CTS = df_binge_CTS.columns[:-6]
df_binge_CTS.groupby(['Session','Class'])[col_binge_CTS].mean()

               Assault mean  Injury mean  Negotiation mean  \
Session Class
BL      AAM        0.036812     0.020601          7.489991
        HC         0.028990     0.025412          6.546703

               Psychological aggression mean  Sexual coercion mean
Session Class
BL      AAM                         0.960545              0.255587
        HC                          0.850046              0.529304

## GEN

### newlbls-fu3-espad-fu3-19a-binge-n650

In [34]:
GEN = IMAGEN_instrument()

In [36]:
df_binge_BL_GEN = GEN.get_instrument(
    "newlbls-fu3-espad-fu3-19a-binge-n650.h5",     # h5files
    "BL",                                          # session
    "IMAGEN-IMGN_GEN_RC5-BASIC_DIGEST.csv",        # instrument
    "GEN"                                          # name
)

In [42]:
# consider merge the values
df_binge_BL_GEN.count()

Disorder_PF_1     64
Disorder_PF_2      7
Disorder_PF_3      3
Disorder_PF_4      1
Disorder_PM_1     62
Disorder_PM_2     11
Disorder_PM_3      1
Disorder_PM_4      0
Disorder_PM_5      0
Disorder_PM_6      0
Session          650
Data             650
Sex              650
Site             650
Class            650
dtype: int64